.link-visual {
    width: 100%;
    max-height: 35vh;
    position: relative;
    overflow-y: scroll;
    overflow-x: hidden;
  }
  
.link-visual::-webkit-scrollbar {
    display:none;
}

.nodeInfo {   
  position: absolute;           
  text-align: center;
  margin: 10px;
  font: 12px sans-serif;        
  border: 1px;      
  pointer-events: none;         
  background:rgba(0,0,0,0.9);
  border:1px solid grey;
  border-radius:5px;
  width:auto;
  padding:4px;
  color:white;
  opacity:0;
}