<div class="topo3d" #renderer3DContainer [@fadeOut3DDiv]="isHide3DDiv ? '3d-hide' : '3d-show'" (@fadeOut3DDiv.done)="animation3DEnd($event)">
    <div class="control-buttons">
        <button mat-icon-button (click)="detach3DLayout()">
            <mat-icon>close</mat-icon>
        </button>
        <button mat-icon-button>
            <mat-icon>zoom_out_map</mat-icon>
        </button>
        
    </div>
    <div class="layer-show">
        <a matRipple [matRippleColor]="b3b3b3" [ngClass]="isLayer1Shown ? 'layer1 shown' : 'layer1'" 
            (click)="isLayer1Shown = !isLayer1Shown; engine3DService.showPlane(1, isLayer1Shown);"></a>
        <a matRipple [matRippleColor]="b3b3b3" [ngClass]="isLayer2Shown ? 'layer2 shown' : 'layer2'" 
            (click)="isLayer2Shown = !isLayer2Shown; engine3DService.showPlane(2, isLayer2Shown);"></a>
        <a matRipple [matRippleColor]="b3b3b3" [ngClass]="isLayer3Shown ? 'layer3 shown' : 'layer3'" 
            (click)="isLayer3Shown = !isLayer3Shown; engine3DService.showPlane(3, isLayer3Shown);"></a>
    </div>
 </div>
