<div class="topo3d" #renderer3DContainer [@zoom3DDiv]="isZoomedOut ? '3d-zoomout' : '3d-zoomin' " [@fadeOut3DDiv]="is3DTopoActive ? '3d-show' : '3d-hide'" (@fadeOut3DDiv.done)="animation3DEnd($event)">
    <div class="control-buttons">
        <button mat-icon-button (click)="close3DLayout()">
            <mat-icon>close</mat-icon>
        </button>
        <button mat-icon-button (click)="zoomOut3DLayout()">
            <mat-icon>zoom_out_map</mat-icon>
        </button>

        
        
    </div>
    <div class="layer-show">
        
            <button mat-icon-button (click)="isLayer3Shown = !isLayer3Shown; engineService.engine3DService.showPlane(2, isLayer3Shown);">
                    <mat-icon svgIcon="layer2"></mat-icon>
            </button>
    
            <button mat-icon-button (click)="isLayer2Shown = !isLayer2Shown; engineService.engine3DService.showPlane(1, isLayer2Shown);">
                    <mat-icon svgIcon="layer1"></mat-icon>
            </button>
    
            <button mat-icon-button (click)="isLayer1Shown = !isLayer1Shown; engineService.engine3DService.showPlane(0, isLayer1Shown);">
                    <mat-icon svgIcon="layer0"></mat-icon>
            </button>
        
    </div>
 </div>
