<h1 mat-dialog-title>{{selectedEntity.full_name}}</h1>
<div mat-dialog-content>
  <div [@.disabled]="disableAnimation">
    <mat-accordion class="example-headers-align">
      <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <div style="height: 32px;"> 
              <div style="width: 35px; display: inline-block;"><img style="vertical-align:middle" src="assets/images/node.png"></div>
              <span>Routers</span>
            </div>
          </mat-panel-title>
          
        </mat-expansion-panel-header>
    
        <mat-action-list *ngFor="let n of netManagerService.get2DContainedNetworkElement(selectedEntity.id); let i = index;">
            <button mat-list-item class="router-name">
              <span>{{n.name}}</span>
              <p> {{n.full_name}} </p>
            </button>
          </mat-action-list>
      
      </mat-expansion-panel>
    
      <mat-expansion-panel [expanded]="false" >
        <mat-expansion-panel-header>
          <mat-panel-title>
              <div style="height: 32px;"> 
                <div style="width: 35px; display: inline-block;"><img style="vertical-align:middle" src="assets/images/link.png"></div>
                <span>Links</span>
              </div>
          </mat-panel-title>
        </mat-expansion-panel-header>
    
        
        
        <mat-tab-group dynamicHeight>
            <mat-tab label="Domain"> 
              <mat-accordion>
                <mat-expansion-panel *ngFor="let l of netManagerService.get2DDomainLinksOfNode(selectedEntity.id); let i = index;" [expanded]="false" [hideToggle]="'true'">
                    <mat-expansion-panel-header class="link-header" [collapsedHeight]="'auto'" [expandedHeight]="'auto'">
                      <div style="width:100%; height: 80px;">
                        <div class='link-title'>
                          <div style="float: left; color:rgba(0,0,0,0.9); font-weight:500;">{{l.name}}</div>
                          <div style="float: right;">{{l.bandwidth}}</div>
                        </div>
                        <div class='link-symbol'>
                          <div class='mark1'></div>
                          <div class='bar'></div>
                          <div class='mark2'></div>
                        </div>
                        <div class='link-nodes'>
                          <div class='src-name'>{{l.node1.name}}</div>
                          <div class='dst-name'>{{l.node2.name}}</div>
                        </div>
                      </div>
                    </mat-expansion-panel-header>
                    
                    <app-link-visual [selectedLinkID] = "l.id"></app-link-visual>
                    
                </mat-expansion-panel>
              </mat-accordion>
            </mat-tab>
            <mat-tab label="Boundary"> 
              <mat-accordion>
                <mat-expansion-panel *ngFor="let l of netManagerService.get2DBoundaryLinksOfNode(selectedEntity.id); let i = index;" [expanded]="false" [hideToggle]="'true'">
                    <mat-expansion-panel-header class="link-header" [collapsedHeight]="'auto'" [expandedHeight]="'auto'">
                      <div style="width:100%; height: 80px;">
                        <div class='link-title'>
                          <div style="float: left; color:rgba(0,0,0,0.9); font-weight:500;">{{l.name}}</div>
                          <div style="float: right;">{{l.bandwidth}}</div>
                        </div>
                        <div class='link-symbol'>
                          <div class='mark1'></div>
                          <div class='bar'></div>
                          <div class='mark2'></div>
                        </div>
                        <div class='link-nodes'>
                          <div class='src-name'>{{l.node1.name}}</div>
                          <div class='dst-name'>{{l.node2.name}}</div>
                        </div>
                      </div>
                    </mat-expansion-panel-header>
                    <app-link-visual [selectedLinkID] = "l.id"></app-link-visual>
                    
                  
                </mat-expansion-panel>
              </mat-accordion>
            </mat-tab>
        </mat-tab-group>
          
        
      </mat-expansion-panel>
    
      <mat-expansion-panel [expanded]="false">
        <mat-expansion-panel-header>
            <div style="height: 32px;"> 
              <div style="width: 35px; display: inline-block;"><img style="vertical-align:middle" src="assets/images/path.png"></div>
              <span>LSPs</span>
            </div>
        </mat-expansion-panel-header>
    
          <mat-form-field>
            <input matInput placeholder="Date" [matDatepicker]="picker" (focus)="picker.open()" readonly>
          </mat-form-field>
          <mat-datepicker #picker></mat-datepicker>
      
      </mat-expansion-panel>
    </mat-accordion>
  </div>
  
  <!-- Copyright 2019 Google Inc. All Rights Reserved.
      Use of this source code is governed by an MIT-style license that
      can be found in the LICENSE file at http://angular.io/license -->
  
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button mat-button [mat-dialog-close]="selectedEntity.name" cdkFocusInitial>Ok</button>
</div>