.detail-dialog-header {
  width: 100%;
  position: relative;
}

.detail-dialog-header > button {
  position: absolute;
  top: -25px;
  right: -20px;
}

.link-list .mat-list-item {
  height: auto;
  font-size: 13px;
}

mat-form-field {
  margin-right: 12px;
}

.mat-dialog-content {
  padding: 0 !important;
  height: 100%;
  scrollbar-width: none; 
  -ms-overflow-style: none; 
  overflow-y: scroll;
}

.mat-dialog-content::-webkit-scrollbar { /* WebKit */
  width: 0;
  height: 0;
}

.link-header {
  padding: 0 15px !important;
  color: rgba(0,0,0,.80);
}

.link-title {
  top: 2px;
  position: relative;
  width: auto;
  height: 30px;
}

.link-symbol {
  margin-left: 15px;
  margin-right: 10px;
  height: 15px;
  width: auto;
  
  position: relative;
  display: flex;
  align-items: center; 
}

.mark1 {
  width: 15px;
  height: 15px;
  background:rgba(44, 62, 80,1.0);
  border-radius: 50%;
  position: absolute;
  left: 0;
}

.bar {
  height: 5px;
  width: 100%;
  background-color: rgba(0,0,0,.26);
}

.mark2 {
  width: 15px;
  height: 15px;
  background: rgba(44, 62, 80,1.0);
  border-radius: 50%;
  position: absolute;
  right: 0;
}

.link-nodes {
  position: relative;
  top: 5px;
  height: 20px;
}

.src-name {
  margin-left: 10px;
  float: left;
}

.dst-name {
  float: right;
}

.router-name {
  font-size: 15px;
  font-weight: 400;
  
}

.router-name span {
  margin-right: 10px;
  background-color: #6c757d;
  width: 30px;
  text-align: center;
  padding: .20em .2em;
  color: white;
  vertical-align: baseline;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.router-name p {
  font-size: 13px;
}

.router-name a {
  float: right;
}