.topo2d { 
    width: 75%;
    height: 75vh;
    position: absolute;
}

.state{
    fill: none;
    stroke: #a9a9a9;
    stroke-width: 1;
}
.state:hover{
    fill-opacity:0.5;
}
#tooltip {   
    position: absolute;           
    text-align: center;
    margin: 10px;
    font: 12px sans-serif;        
   border: 1px;      
    pointer-events: none;         
}
#tooltip h4{
    margin:0;
    font-size:14px;
}
#tooltip{
    background:rgba(0,0,0,0.9);
    border:1px solid grey;
    border-radius:5px;
    width:auto;
    padding:4px;
    color:white;
    opacity:0;
}
#tooltip table{
    table-layout:fixed;
}
#tooltip tr td{
    padding:0;
    margin:0;
}
#tooltip tr td:nth-child(1){
    width:50px;
}
#tooltip tr td:nth-child(2){
    text-align:center;
}

.background {
  fill: none;
  pointer-events: all;
}
#countries, #states {
  fill: #95a5a6;
  stroke: #fff;
  stroke-linejoin: round;
  stroke-linecap: round;
}
#countries .active {
  fill: #89a;
}
#cities {
  stroke-width: 0;
}
.city {
  fill: #345;
  stroke: #fff;
}
pre.prettyprint {
  border: 1px solid #ccc;
  margin-bottom: 0;
  padding: 9.5px;
}