<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <div id="controls">
      <a href="#" id="switch-view" (click)="selectedDisplayMode = (selectedDisplayMode == 1 ? 0 : 1)"></a>
  </div>

  <br/>
  <!-- <topo-visual [displayMode] = "selectedDisplayMode"></topo-visual>  -->
  <app-topo2d [displayMode] = "selectedDisplayMode"></app-topo2d>
  <app-topo3d [displayMode] = "selectedDisplayMode"></app-topo3d>
  <!-- <app-map-view></app-map-view> -->
  
</div>

<router-outlet></router-outlet>
