#controls {
    position: absolute;
    left: 0;
    bottom: 0;
    transition: .5s ease-in-out all;
    z-index: 10;
  }
a#switch-view {
    width:64px;
    height: 64px;
    background: #ecf0f1 url("../assets/images/switch-view-2d.png") center top no-repeat;
    text-decoration: none;
    text-transform: uppercase;
    display: block;
  }
  
  a#switch-view:hover {
    background: #ecf0f1 url("../assets/images/switch-view-disable.png") no-repeat 0 0;
  }
  
  a#switch-view:active {
    background: #95a5a6 url("../assets/images/switch-view-3d.png") no-repeat 0 0;
  
  }