<div class="topo2d" #renderer2DContainer>
</div>

<div style="padding-top: 20px; padding-left: 20px;">
<div class="search-lab-logo" (click)="fadeInSearchBox()">
    <img src="../../../../assets/images/logo.png" alt="AdminLTE Logo" style="opacity: .8">
</div>

<div id="search-form-div" class="search-form">
    <form class="example-form">
        <mat-form-field class="example-full-width"  appearance="outline">
            <mat-label>Search network elements</mat-label>
            <input #searchKeyword matInput aria-label="Node" [matAutocomplete]="auto" [formControl]="nodeCtrl" placeholder="Type to search">
            <button mat-button *ngIf="nodeCtrl.value" matSuffix mat-icon-button aria-label="Clear" (click)="nodeCtrl.setValue(nodeCtrl.value)">
                <mat-icon>search</mat-icon>
              </button>
            <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let node of filteredNodes | async" (onSelectionChange)="searchKeyword.value != undefined && updateDialogDetailContent($event, node)" [value]="node.full_name" >
                <img class="example-option-img" aria-hidden [src]="node.icon_url" height="25">
                <span>{{node.full_name}}</span>
            </mat-option>
            </mat-autocomplete>
        </mat-form-field>
    </form>
</div>

</div>

<div id="node_toolTip"></div>
<div id="link_toolTip"></div>
